[Version]
# NE PAS TOUCHER!!!!!
config_version = 0.3
# Debut de config

[Robot]
mode_simu = true
# toute distance en mm
# distance de sécurité = distance devant le robot (minimal 130)
distance_securite = 130.0

[Strat]
carre_2 =2,avancer,tourner:90,avancer,tourner:90,avancer,tourner:90,avancer,tourner:90

[Obstacles]
# obstacle = Obstacle(p1, p2) avec p1 = Point(x=0, y=0) et p2 = p1 = Point(x=1, y=2)
#syntaxe: obstaclex =x1,y1;x2,y2  NE PAS CONFONDRE LES , et les ;
obstacle1 =0,0;1,2
obstacle2 =1,4;9,12
